<VirtualHost *:80>
  ServerAdmin admin@example.com
  DocumentRoot "/var/lib/geoconverter/geoconverter-www"
  ServerName geoconverter.example.com
 
  WSGIDaemonProcess GeoconverterDaemon user=geoconverter group=geoconverter python-path=/var/lib/geoconverter/geoconverter-www:/var/lib/geoconverter/geoenv/lib/python3.4/site-packages threads=2
  WSGIProcessGroup GeoconverterDaemon
  WSGIApplicationGroup %{GLOBAL}
 
  WSGIScriptAlias / /var/lib/geoconverter/geoconverter-www/GeoConverter/wsgi.py
  <Directory /var/lib/geoconverter/geoconverter-www/GeoConverter>
    <Files wsgi.py>
      Require all granted
    </Files>
  </Directory>

  Alias /static/ /var/lib/geoconverter/geoconverter-www/static/
  <Directory /var/lib/geoconverter/geoconverter-www/static>
    Require all granted
  </Directory>

  Alias /data/ /var/lib/geoconverter/data/
  <Directory /var/lib/geoconverter/data>
     Require all granted
  </Directory>
</VirtualHost>

