{% extends "index.html" %}

{% block ogrgeoconverter-css %}
<link rel="stylesheet" type="text/css" href="static/geoconverter/css/geoconverter.css">
<link rel="stylesheet" type="text/css" href="static/fineuploader/css/fineuploader-extended.css">
{% endblock %}

{% block ogrgeoconverter-scripts %}
<script src="static/geoconverter/js/advanced-options.js"></script>
<script src="static/geoconverter/js/ogr-converter.js"></script>
<script src="static/fineuploader/js/jquery.fineuploader-3.0.js"></script>
<!-- <script src="static/fineuploader/js/jquery.fineuploader-3.0.min.js"></script> -->
{% endblock %}

{% block ogrgeoconverter-files %}

<form id="file-form" enctype="multipart/form-data" method="post" action="/process/">
	{% csrf_token %}
	<div id="files-step1">
		<p>1) Input files</p>
		<div id="files-selector">

		</div>
		<!--<div id="files-info-message">
			Use zip files to  preserve the directory structure!
		</div>-->
	</div>
	<div id="files-step2">
		<p>2) Export format</p>
		<p>{{ files_form.files_ogrformat }}</p>
	</div>
	<div id="files-step3">
		<p>3) Convert</p>
		<div id="files-convert-run-button"></div>
		<!-- <input type="submit" class="files-submit-button" /> -->
	</div>
	<div id="files-advanced">
		<div class="expander-icon collapsed"></div>
		<div class="expander-title">Advanced Options</div>
		<div id="file-options" class="expander-content collapsed">
			<div style="float: left; margin-top: 20px;">Source EPSG no.</div>
			<div style="float: left; margin-top: 15px; margin-left: 10px;"><input name="files_sourceSRS" id="id_files_sourceSRS" type="text" size="10" maxlength="8" value="n/a"></div>
			<div style="float: left; margin-top: 20px; margin-left: 40px;">Target EPSG no.</div>
			<div style="float: left; margin-top: 15px; margin-left: 10px;"><input name="files_targetSRS" id="id_files_targetSRS" type="text" size="10" maxlength="8" value="n/a"></div>
		</div>
		<div class="expander-bottom"></div>
	</div>
</form>

{% endblock %}


{% block ogrgeoconverter-webservices %}

<form id="webservice-form" enctype="multipart/form-data" method="post">
	<div id="webservices-step1">
		<p>1) Input URL (WFS)</p>
		<p>{{ webservices_form.urlinput }}</p>
	</div>
	<div id="webservices-step2">
		<p>2) Export format</p>
		<p>{{ webservices_form.webservices_ogrformat }}</p>
	</div>
	<div id="webservices-step3">
		<p>3) Convert</p>
		<div id="webservices-convert-run-button" class="qq-upload-button webservices-submit-button default-border">Run</div>
	</div>
	<div id="webservices-advanced">
		<div class="expander-icon collapsed"></div>
		<div class="expander-title">Advanced Options</div>
		<div id="webservice-options" class="expander-content collapsed">
			<div style="float: left; margin-top: 20px;">Source EPSG no.</div>
			<div style="float: left; margin-top: 15px; margin-left: 10px;"><input name="webservices_sourceSRS" id="id_webservices_sourceSRS" type="text" size="10" maxlength="8" value="n/a"></div>
			<div style="float: left; margin-top: 20px; margin-left: 40px;">Target EPSG no.</div>
			<div style="float: left; margin-top: 15px; margin-left: 10px;"><input name="webservices_targetSRS" id="id_webservices_targetSRS" type="text" size="10" maxlength="8" value="n/a"></div>
		</div>
		<div class="expander-bottom"></div>
	</div>
</form>

{% endblock %}


{% block ogrgeoconverter-downloads %}

<div id="download-list">
	{% for path_code in download_list %}
	<div id="queue-{{ path_code }}" class="download-item default-border">
	    <div class="remove-download-item remove-download-item-icon"></div>
		<div id="download-{{ path_code }}" class="qq-upload-button default-border download-button">
	        Download
	    </div>
	</div>
	{% endfor %}
</div>

{% endblock %}